.Rhistory

.Rproj.user/
*.Rproj
.Rproj.user

# make Rout files
*.Rout

# raw text of the article
/text/

# data on ore sources, raw data, temporary data
/data/raw
/data/temp
/data/ore_sources.csv

# backups
*.zip